* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

:root {
    --white-0: #FFFFFF;
    --green-1: #F3F9FA;
    --green-2: #C5E4E7;
    --green-3: #9EBBBC;
    --green-4: #7F9D9F;
    --green-5: #5E7A7D;
    --green-6: #547878;
    --green-7: #3D6666;
    --green-8: #00474B;
    --ligth-9: #26C2AE;
}

body {
    background-color: var(--green-2);
}

header {
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}

main {
    background-color: var(--white-0);
    padding: 2rem;
    border-radius: 1.562rem ;
}

.conta,
.gorjeta,
.pessoas {
    margin-bottom: 2rem;
}

.conta label,
.gorjeta label,
.pessoas label {
    color: var(--green-5);
    font-weight: 700;
}

.conta div,
.pessoas div {
    margin-top: 0.4rem;
    background-color: var(--green-1);
    padding: 0.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;
}

.conta input,
.pessoas input {
    border: none;
    text-align: right;
    width: 100%;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green-8);
    outline: none;
}

.conta input::placeholder,
.pessoas input::placeholder {
    color: var(--green-3);
}

.conta:has(input:focus) div,
.conta:has(input:focus) div {
    outline: 2px solid var(--ligth-9);
}

.gorjeta div {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.gorjeta input {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    text-align: center;
    outline: none;
    padding-block: 0,4rem;
    border-radius: 0.3125rem;
    background-color: var(--green-8);
    color: var(--white-0);
}

.gorjeta #outra {
    width: 100%;
    background-color: var(--green-1);
    color: var(--green-5);   
}

.gorjeta #outra::placeholder {
    color: var(--green-3);
}

.pessoas #erro {
    display: none;
}

.resultados {
    background-color: var(--green-8);
    border-radius: 0.9375rem;
    padding: 1.5rem;
}

.resultados div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultados p {
    color: var(--green-4);
    font-size: 0.8125rem;
}

.resultados p strong{
    color: var(--white-0);
    font-size: 1rem;
}

.resultados div > strong {
    color: var(--ligth-9);
    font-size: 2rem;
}

.resultados .gorjeta-total {
    margin-bottom: 1.25rem;
}

.resultados .total {
    margin-bottom: 2rem;
}

.resultados button {
    width: 100%;
    background-color: var(--ligth-9);
    border: none;
    border-radius: 0.3125rem;
    color: var(--green-8);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-block: 0.5rem;
}

@media(min-width: 928px) {}
    body {
        display: flex;
        flex-direction: column;
        min-height: 100svh;
        justify-content: center;
        gap: 5rem;
    }

    header {
        padding: 0;
    }

     main {
        display: flex;
        gap: 3rem;
        padding: 3rem;
        border-radius: 1.5625;
        max-width: 57.5rem;
        margin-inline: auto;
    }

    main section {
        width: 100%;
    }

    .gorjeta div {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .resultados {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.5rem;
    }

    .resultados div > strong {
        font-size: 3rem;
    }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}